/* App.css */

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 2em;
}

.App-body {
  margin: 20px;
}

.App-connect {
  text-align: center;
}

.avatar-container {
  margin: 20px 0;
}

.avatar {
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

.App-connect h2 {
  font-size: 1.5em;
  color: #333;
}

.App-connect p {
  color: #555;
}

.App-connect ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-connect li {
  margin: 10px 0;
}

.App-connect a {
  text-decoration: none;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  scale: 0.5;
}

